.footer{
    background-color: rgba(0, 0, 0, 0.9);
    padding: 2em 10em 2em 20em;
}

.list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.li{
    text-decoration: none;
    color: #9d9898;
}

.logo{
    color: grey;
    font-weight: bolder;
}

a{
    text-decoration: none !important;
}

a:hover, a>h1:hover{
    color: rgb(183, 131, 145);
}

footer h5{
    color: #d5c8c8 !important;
}