.cards{
    box-shadow: 0 2px 4px rgba(100, 100, 100, 0.1);
}

.cards:hover{
    border: 1px solid #e6e6e6;
}

.cart-img {
    width: 23em;
}

.button-img{
    width: 2em;
}

.button-del-img{
    width: 1.7em;
}

button{
    background-color: transparent;
    border: none;
}

.code{
    color: #875757;
}

.button-container {
    display: flex;
    margin-top: 10px;
}

.button-container button {
    flex: none;
}

.order-summary{
    background-color: #f6edf0;
    height: max-content;
    position: fixed;
    right: 1em;
    box-shadow: 0 2px 4px rgba(0.1, 0.1, 0.1, 0.1);
}

.btn-close-absolute{
    position: absolute;
    right: 9px;
    top: 2px;
    font-size: 30px;
    font-weight: bold;
    color: #875757;
}

.cards .form-label{
    width: 80px !important;
}