.sidebar{
    margin-left: 0.8em;
    /*box-shadow: 0 2px 4px rgba(0.1, 0.1, 0.1, 0.1);*/
}

.filterWrap{
    box-shadow: 0 2px 4px rgba(0.1, 0.1, 0.1, 0.1);
}

.filter{
    cursor: pointer;
    padding-top: 0.5em  !important;
}

.expandable-content {
    overflow: hidden;
    transition: height 0.3s ease-out, padding 0.3s ease-out;
    height: 0;
    padding: 0;
    margin-top: 0;
    max-height: 0;
}

.expandable-content.expanded {
    margin: 5%;
    border-top: none !important;
    height: 100% !important;
    max-height: none;
    padding: 10px 20px 30px 20px;
    border-top: 1px solid #CCC;
    margin-bottom: 50px !important;
}

.link{
    text-decoration: none;
    color: black;
}

.link:hover{
    color: grey;
}

.card-link{
    text-decoration: none;
}

.card {
    box-shadow: 0 2px 4px rgba(0.1, 0.1, 0.1, 0.1);
    cursor: pointer;
    width: 100%;
    margin: auto;
}

.card-img-top {
    width: 100%;
    height: calc(100% * (25 / 24)) !important;
}

.card-body{
    /*height: 8em;*/
}

.card-text{
    height: 5em;
}

.card-title{
    margin-top: 1em;
    height: 2.5em;
    overflow: hidden;
}

.adjust-view {
    height: 40px;
}

.adjust-view-img, .filter-img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.row *{
    padding: 0;
}

.sidebar.col-2{
    width: 23em !important;
}

.fixed-custom{
    position: fixed;
    top: 100px;
    height: 50px;
    z-index: 1 !important;
    padding-top: 10px;
}