.header{
    background-color: #F5DCE0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;

}

.title{
    font-size: 30px;
    font-weight: bold;
}

.nav-items{
    font-size: 20px;

}

.cart-logo{
    width: 1.8em;
    height: 2em;
}

.btn-unstyled{
    border: none;
    background: transparent;
    width: 100%;
    text-align: left;
}

li:has(.btn-unstyled:active),
li:has(.btn-unstyled:focus)
{
    background-color: #F5DCE0;
}

.h-link.btn-unstyled:active{
    background-color: #EFCFD4;
}
